//base structure
.cover{
    width: 769px;
    height: 659px;
    z-index: 600;
    display: block;
    margin: 10px auto;
    position: relative;

    background-image: url('../images/aparat.png');
}

.game{
    width: 769px;
    height: 659px;
    z-index: 600;
    display: block;
    margin: 10px auto;
    position: relative;
    
}

//hand style
.hand{
    z-index: -200;
    position: absolute;
    top: 45%;
    right: -22%;
   transform-origin: -50%;
    transform: rotateZ(-45deg);
}

.rotat{
    animation-name: anima;
    animation-iteration-count: 1;
    animation-duration: 1.7s;
}


@keyframes anima {
    0%{transform: rotateZ(-10deg);}
    25%{transform: rotateZ(15deg);}
    50%{transform: rotateZ(45deg);}
    75%{transform: rotateZ(15deg)}
    100%{transform: rotateZ(-10deg)}
}

//stats_list
.stats_list{
list-style: none;
display: flex;

    position: absolute;
    left: 46%;
    top: 12%;
    transform: translate(-50%);
    font-weight: 900;
    color: rgb(255, 0, 0);
    text-shadow: 4px 4px 7px rgb(0, 0, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.stats_item{
    font-size: 26px;
    line-height: 28px;
    font-weight: 800;
}

.stats_item + .stats_item{
    margin-left: 80px;
}

//sreen list
.screen_list{
    display: flex;
    list-style: none;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -48%);
    margin: 0;
    padding: 0;
}

.screen_item{
    width: 100px;
    height: 180px;
   color: red;

    text-align: center;
    font-size: 160px;
}

.screen_item + .screen_item{
    margin-left: 60px;
}


//modal
.backdrop{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .3s linear;  

        background-color: rgba(3, 3, 3, 0.729);
   
}

.secr_cover{
    border-radius: 50px;
    box-shadow: 4px 4px 6px black;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;

    background-color: green;

    @media screen and (min-width:320px) {
        padding: 30px;
        width: 90%;
        height: auto;
    }
    @media screen and (min-width:768px) {
        padding: 40px;
        width: 450px;
    }
    
    @media screen and (min-width:1200px) {
        width: 540px;
    }
}

.title{
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;

    font-size: 44px;
    line-height: 48px;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    color: rgb(255, 166, 0);
    text-shadow: 4px 5px 4px black;
}


.myster{
    position: fixed;
    bottom: 0;
    transition: all .3s linear;
}

.anima{
    animation-name: anim;
    animation-duration: 1s;
    animation-iteration-count: 7;
}


@keyframes anim{
    0% { transform: translate(3px, 3px) rotate(8deg); }
    10% { transform: translate(-3px, -5px) rotate(-5deg); }
    20% { transform: translate(-3px, 5px) rotate(5deg); }
    30% { transform: translate(3px, 5px) rotate(8deg); }
    40% { transform: translate(3px, -3px) rotate(5deg); }
    50% { transform: translate(-3px, 5px) rotate(-5deg); }
    60% { transform: translate(-3px, 3px) rotate(8deg); }
    70% { transform: translate(3px, 3px) rotate(-5deg); }
    80% { transform: translate(-3px, -3px) rotate(5deg); }
    90% { transform: translate(3px, 5px) rotate(8deg); }
    100% { transform: translate(3px, -5px) rotate(-5deg); }
}

.van{
    margin-bottom: 10px;
}


.exit{

    position: absolute;
    right: 15px;
    bottom: 15px;
    text-decoration: none;
    padding-left: 16px;
    padding-right: 16px;
    align-self: center;
    font-weight: 600;
    font-family:'Ceviche One';
    border-color: transparent;
    border-radius: 16px;
    color: black;
    background-color: rgb(224, 146, 0);
    font-size: 22px;
    transition: all .25s linear;

    &:hover, &:focus{
        cursor: pointer;
        color: rgb(255, 0, 0);
        background-color: rgb(255, 166, 0);
        box-shadow: 2px 3px 4px black;
    }
}