@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  background-image: url(".././images/backgrounds/body-bg.jpg");
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.is-none {
  opacity: 0;
  pointer-events: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.main_title {
  z-index: 700;
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 20px;
  font-size: 80px;
  line-height: 84px;
  font-weight: 800;
  font-family: 'Ceviche One';
  color: #c90000;
  text-shadow: 4px 4px 4px #353535;
  width: 30px;
  word-wrap: break-word;
}

.main_title:hover {
  cursor: default;
}

@media screen and (min-width: 320px) {
  .main_title {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .main_title {
    display: block;
  }
}

.side_title {
  z-index: 700;
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 30px;
  font-size: 80px;
  line-height: 84px;
  font-weight: 800;
  font-family: 'Ceviche One';
  color: #c90000;
  text-shadow: 4px 4px 4px #353535;
  width: 30px;
  word-wrap: break-word;
}

.side_title:hover {
  cursor: default;
}

@media screen and (min-width: 320px) {
  .side_title {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .side_title {
    display: block;
  }
}

.card_btn_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 320px) {
  .card_btn_list {
    margin: 5px auto;
  }
}

@media screen and (min-width: 768px) {
  .card_btn_list {
    margin: 15px auto;
  }
}

@media screen and (min-width: 1200px) {
  .card_btn_list {
    margin: 30px auto;
  }
}

.card_btn_item + .card_btn_item {
  margin-left: 30px;
}

.card_btn {
  padding-left: 16px;
  padding-right: 16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 600;
  font-family: 'Ceviche One';
  border-color: transparent;
  border-radius: 16px;
  background-color: #e09200;
  font-size: 32px;
  -webkit-transition: all .25s linear;
  transition: all .25s linear;
}

.card_btn:hover, .card_btn:focus {
  cursor: pointer;
  color: red;
  background-color: #ffa600;
  -webkit-box-shadow: 2px 3px 4px black;
          box-shadow: 2px 3px 4px black;
}

.retry_btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 16px;
  padding-right: 16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 600;
  font-family: 'Ceviche One';
  border-color: transparent;
  border-radius: 16px;
  background-color: #e09200;
  font-size: 32px;
  -webkit-transition: all .25s linear;
  transition: all .25s linear;
}

.retry_btn:hover, .retry_btn:focus {
  cursor: pointer;
  color: red;
  background-color: #ffa600;
  -webkit-box-shadow: 2px 3px 4px black;
          box-shadow: 2px 3px 4px black;
}

.exit_btn {
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 600;
  font-family: 'Ceviche One';
  border-color: transparent;
  border-radius: 16px;
  background-color: #e09200;
  font-size: 32px;
  -webkit-transition: all .25s linear;
  transition: all .25s linear;
}

.exit_btn:hover, .exit_btn:focus {
  cursor: pointer;
  color: red;
  background-color: #ffa600;
  -webkit-box-shadow: 2px 3px 4px black;
          box-shadow: 2px 3px 4px black;
}

.give_card_btn {
  position: absolute;
  padding-left: 16px;
  padding-right: 16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 600;
  font-family: 'Ceviche One';
  border-color: transparent;
  border-radius: 16px;
  background-color: #e09200;
  font-size: 32px;
  -webkit-transition: all .25s linear;
  transition: all .25s linear;
}

.give_card_btn:hover, .give_card_btn:focus {
  cursor: pointer;
  color: red;
  background-color: #ffa600;
  -webkit-box-shadow: 2px 3px 4px black;
          box-shadow: 2px 3px 4px black;
}

@media screen and (min-width: 320px) {
  .give_card_btn {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 768px) {
  .give_card_btn {
    top: 50%;
    left: 47%;
    -webkit-transform: translate(-50%, -47%);
            transform: translate(-50%, -47%);
  }
}

.main_menu_btn {
  margin-top: 30px;
  color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 600;
  font-family: 'Ceviche One';
  border-color: transparent;
  border-radius: 16px;
  background-color: #e09200;
  font-size: 32px;
  -webkit-transition: all .25s linear;
  transition: all .25s linear;
}

.main_menu_btn:hover, .main_menu_btn:focus {
  cursor: pointer;
  color: red;
  background-color: #ffa600;
  -webkit-box-shadow: 2px 3px 4px black;
          box-shadow: 2px 3px 4px black;
}

.backdrop {
  position: fixed;
  z-index: 88;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  background-color: rgba(3, 3, 3, 0.729);
}

.start_window {
  border-radius: 50px;
  -webkit-box-shadow: 4px 4px 6px black;
          box-shadow: 4px 4px 6px black;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  background-image: url(".././images/start-bg.jpg");
}

@media screen and (min-width: 320px) {
  .start_window {
    padding: 30px;
    width: 90%;
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  .start_window {
    padding: 40px;
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .start_window {
    width: 540px;
  }
}

.start_title {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 64px;
  line-height: 68px;
  font-weight: 800;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #ffa600;
  text-shadow: 4px 5px 4px black;
}

.name_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  text-align: center;
}

.hero_name_inp {
  margin-top: 20px;
  margin-bottom: 20px;
  border: transparent;
  background-color: transparent;
  color: #ff8800;
  text-shadow: 2px 3px 2px black;
  font-weight: 900;
  outline: none;
  text-align: center;
  border-bottom: 3px solid #ff8800;
  padding: 2px;
}

@media screen and (min-width: 320px) {
  .hero_name_inp {
    font-size: 40px;
    line-height: 46px;
    width: 280px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

.start_btn {
  padding: 10px 25px 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 20px;
  font-size: 24px;
  font-weight: 800;
  line-height: 26px;
  border-radius: 14px;
  border-color: transparent;
  -webkit-transition: all .25s linear;
  transition: all .25s linear;
  background-color: #ffa600;
}

.start_btn:hover, .start_btn:focus {
  cursor: pointer;
  color: white;
  -webkit-box-shadow: 3px 4px 4px black;
          box-shadow: 3px 4px 4px black;
}

.final_back {
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0;
  background-color: rgba(41, 41, 41, 0.9);
  -webkit-transition: all .35s linear;
  transition: all .35s linear;
}

.final_window {
  border-radius: 50px;
  -webkit-box-shadow: 4px 4px 6px black;
          box-shadow: 4px 4px 6px black;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  background-image: url(".././images/start-bg.jpg");
}

@media screen and (min-width: 320px) {
  .final_window {
    padding: 30px;
    width: 90%;
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  .final_window {
    padding: 40px;
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .final_window {
    width: 540px;
  }
}

.final_title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #ffa600;
  text-shadow: 4px 5px 4px black;
}

@media screen and (min-width: 320px) {
  .final_title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
  }
}

@media screen and (min-width: 768px) {
  .final_title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 44px;
    line-height: 48px;
    font-weight: 700;
  }
}

@media screen and (min-width: 1200px) {
  .final_title {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 64px;
    line-height: 68px;
    font-weight: 800;
  }
}

.game_field {
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 320px) {
  .game_field {
    margin-top: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-image: url(".././images/backgrounds/mobile-bg.jpg");
    background-size: 320px 568px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 40px;
    border: 4px solid black;
  }
}

@media screen and (orientation: landscape) {
  .game_field {
    background-image: url(".././images/backgrounds/land-bg.jpg");
    background-size: 568px 320px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .game_field {
    margin-top: 10px;
    background-size: cover;
  }
}

@media screen and (min-width: 1000px) {
  .game_field {
    background-image: url(".././images/backgrounds/table-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 200px;
    border: 10px solid black;
    -webkit-box-shadow: 0px 10px 15px black;
            box-shadow: 0px 10px 15px black;
  }
}

.table {
  width: 100%;
}

@media screen and (min-width: 320px) {
  .table {
    display: block;
    padding: 2px 4px 2px;
  }
}

@media screen and (orientation: landscape) {
  .table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .table {
    padding: 20px 40px 20px;
  }
}

@media screen and (min-width: 320px) {
  .card_cover {
    display: block;
    padding: 2px 4px 2px;
  }
}

@media screen and (min-width: 768px) {
  .card_cover {
    padding: 20px 40px 20px;
    display: block;
    margin-right: 50px;
    margin-left: 50px;
  }
}

@media screen and (min-width: 320px) {
  .point_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
}

@media screen and (orientation: landscape) {
  .point_list {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media screen and (min-width: 768px) {
  .point_list {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.point_name {
  margin: 0;
  padding: 0;
  position: absolute;
  top: -25px;
  font-family: 'Ceviche One';
  font-size: 24px;
}

@media screen and (min-width: 320px) {
  .point_name {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .point_name {
    display: none;
  }
}

.point_span {
  text-align: center;
  font-family: 'Ceviche One';
}

.point_item {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.404);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 320px) {
  .point_item {
    height: 24px;
    width: 24px;
    padding: 5px;
    border: 3px solid white;
    font-size: 14px;
  }
  .point_item + .point_item {
    margin-top: 0px;
    margin-left: 30px;
  }
}

@media screen and (orientation: landscape) {
  .point_item + .point_item {
    margin-top: 30px;
    margin-left: 0px;
  }
}

@media screen and (min-width: 768px) {
  .point_item {
    height: 60px;
    width: 60px;
    border: 7px solid white;
    font-size: 19px;
    font-weight: 700;
  }
  .point_item + .point_item {
    margin-top: 50px;
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .point_item {
    height: 100px;
    width: 100px;
    border: 10px solid white;
    font-size: 64px;
    font-weight: 700;
  }
}

.deck_cover {
  display: block;
  margin-right: 0;
  margin-top: auto;
  margin-bottom: auto;
  padding: 5px;
  border: 8px solid white;
}

@media screen and (min-width: 320px) {
  .deck_cover {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .deck_cover {
    display: block;
  }
}

.deck {
  width: 180px;
  height: 270px;
}

.card {
  -webkit-box-shadow: 4px 4px 6px black;
          box-shadow: 4px 4px 6px black;
}

@media screen and (min-width: 320px) {
  .card {
    width: 70px;
    height: 110px;
    border: 3px solid black;
  }
}

@media screen and (min-width: 768px) {
  .card {
    width: 130px;
    height: 190px;
    border: 4px solid black;
  }
}

.hidden {
  background-image: url(".././images/skin.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

@media screen and (min-width: 320px) {
  .hidden {
    background-size: 80px 115px;
  }
}

@media screen and (min-width: 768px) {
  .hidden {
    background-size: 140px 200px;
  }
}

.card_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 320px) {
  .card_list {
    height: 150px;
  }
}

@media screen and (min-width: 768px) {
  .card_list {
    height: 200px;
  }
}

.player_card_list {
  height: 200px;
}

@media screen and (orientation: landscape) {
  .player_card_list {
    height: 120px;
  }
}

@media screen and (min-width: 768px) {
  .player_card_list {
    height: 200px;
  }
}

.card_item {
  padding: 3px;
}

@media screen and (min-width: 320px) {
  .card_item {
    min-width: 80px;
  }
}

@media screen and (min-width: 768px) {
  .card_item {
    min-width: 140px;
  }
}

@media screen and (min-width: 320px) {
  .card_item + .card_item {
    margin-left: 20px;
  }
}

@media screen and (min-width: 768px) {
  .card_item + .card_item {
    margin-left: 40px;
  }
}

@media screen and (min-width: 1000px) {
  .card_item + .card_item {
    margin-left: 70px;
  }
}

@media screen and (min-width: 320px) {
  .player_nickName {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .player_nickName {
    text-align: center;
    display: block;
    position: absolute;
    bottom: 20px;
    left: 47%;
    -webkit-transform: translateX(-47%);
            transform: translateX(-47%);
    font-size: 76px;
    line-height: 80px;
    text-shadow: 3px 3px 5px red;
    text-align: center;
    font-family: 'Ceviche One';
    border-bottom: 6px solid black;
  }
}

.rules_list {
  z-index: 999;
  position: fixed;
  right: 15px;
  border-radius: 14px;
  border-bottom-right-radius: 0;
  border: 4px solid black;
  -webkit-box-shadow: 5px 5px 8px black;
          box-shadow: 5px 5px 8px black;
  background-color: #ffe600;
  font-family: 'Ceviche One';
  text-shadow: 2px 3px 3px #4b4b4b;
}

@media screen and (min-width: 320px) {
  .rules_list {
    bottom: 30px;
    font-size: 16px;
    padding: 3px;
  }
}

@media screen and (min-width: 768px) {
  .rules_list {
    bottom: 50px;
    font-size: 26px;
    padding: 7px;
  }
}

@media screen and (min-width: 1200px) {
  .rules_list {
    bottom: 70px;
    font-size: 36px;
    padding: 20px;
  }
}

.rule_btn {
  z-index: 999;
  position: fixed;
  padding-left: 16px;
  padding-right: 16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 600;
  font-family: 'Ceviche One';
  border-color: transparent;
  border-radius: 16px;
  background-color: #e09200;
  -webkit-transition: all .25s linear;
  transition: all .25s linear;
}

.rule_btn:hover, .rule_btn:focus {
  cursor: pointer;
  color: red;
  background-color: #ffa600;
  -webkit-box-shadow: 2px 3px 4px black;
          box-shadow: 2px 3px 4px black;
}

@media screen and (min-width: 320px) {
  .rule_btn {
    right: 5px;
    bottom: 5px;
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .rule_btn {
    right: 10px;
    bottom: 10px;
    font-size: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .rule_btn {
    right: 15px;
    bottom: 15px;
    font-size: 32px;
  }
}

.point_btn {
  z-index: 999;
  position: fixed;
  right: 150px;
  bottom: 15px;
  padding-left: 16px;
  padding-right: 16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 600;
  font-family: 'Ceviche One';
  border-color: transparent;
  border-radius: 16px;
  background-color: #e09200;
  font-size: 32px;
  -webkit-transition: all .25s linear;
  transition: all .25s linear;
}

.point_btn:hover, .point_btn:focus {
  cursor: pointer;
  color: red;
  background-color: #ffa600;
  -webkit-box-shadow: 2px 3px 4px black;
          box-shadow: 2px 3px 4px black;
}

@media screen and (min-width: 320px) {
  .point_btn {
    right: 100px;
    bottom: 5px;
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .point_btn {
    right: 150px;
    bottom: 10px;
    font-size: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .point_btn {
    right: 175px;
    bottom: 15px;
    font-size: 32px;
  }
}

.card_value_list {
  z-index: 999;
  position: fixed;
  right: 15px;
  border-radius: 14px;
  border-bottom-right-radius: 0;
  border: 4px solid black;
  -webkit-box-shadow: 5px 5px 8px black;
          box-shadow: 5px 5px 8px black;
  background-color: #ffe600;
  font-family: 'Ceviche One';
  text-shadow: 2px 3px 3px #4b4b4b;
}

@media screen and (min-width: 320px) {
  .card_value_list {
    bottom: 30px;
    font-size: 16px;
    padding: 3px;
  }
}

@media screen and (min-width: 768px) {
  .card_value_list {
    bottom: 50px;
    font-size: 26px;
    padding: 7px;
  }
}

@media screen and (min-width: 1200px) {
  .card_value_list {
    bottom: 70px;
    font-size: 36px;
    padding: 20px;
  }
}

.audio_cover {
  position: fixed;
  z-index: 999;
}

@media screen and (min-width: 320px) {
  .audio_cover {
    left: 5px;
    bottom: 5px;
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .audio_cover {
    left: 10px;
    bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .audio_cover {
    bottom: 15px;
    left: 15px;
  }
}

.audio_player {
  padding: 2px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #804d00;
}

.audio_control_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.audio_control_item + .audio_control_item {
  margin-left: 5px;
}

.audio_btn {
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  background-color: #e09200;
  -webkit-transition: all .25s linear;
  transition: all .25s linear;
}

.audio_btn:hover, .audio_btn:focus {
  cursor: pointer;
  fill: red;
  -webkit-box-shadow: 1px 1px 4px black;
          box-shadow: 1px 1px 4px black;
  background-color: #ffab0e;
}

@media screen and (min-width: 320px) {
  .audio_btn {
    width: 26px;
    height: 26px;
  }
}

@media screen and (min-width: 768px) {
  .audio_btn {
    width: 36px;
    height: 36px;
  }
}

@media screen and (min-width: 1200px) {
  .audio_btn {
    width: 46px;
    height: 46px;
  }
}

@media screen and (min-width: 320px) {
  .cntrl_icon {
    width: 8px;
    height: 8px;
  }
}

@media screen and (min-width: 768px) {
  .cntrl_icon {
    width: 16px;
    height: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .cntrl_icon {
    width: 26px;
    height: 26px;
  }
}

.progres {
  z-index: 999;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #ffab0e;
  margin-bottom: 10px;
  border-radius: 4px;
}
/*# sourceMappingURL=main.css.map */