.game_field{
    position: absolute;
    background-attachment: fixed;
        z-index: 88;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
background-size: cover;
background-position: center;

    background-size: cover; 
    transition: all .6s linear;

    @media screen and (min-width:320px) {
        background-image: linear-gradient(to left, var(--gradient-color)40%,
        var(--gradient-color)100%),
    url('.././images/backgrounds/boss-mobile.png');
}

@media screen and (min-width:768px) {
    background-image: linear-gradient(to left, var(--gradient-color)40%,
    var(--gradient-color)100%),
url('.././images/backgrounds/boss-tablet.png');  
}

@media screen and (min-width:1200px) {
     background-image: linear-gradient(to left, var(--gradient-color)40%,
        var(--gradient-color)100%),
    url('.././images/backgrounds/boss.png'); 
}
}

.is{
opacity: 0;
pointer-events: none;
}
//////////////////////////////////////////////////
.first_dialog{
    position: fixed;
    z-index: 88;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: all .6s linear;  
    background: linear-gradient(to left, var(--gradient-color)40%,
    var(--gradient-color)100%);
}

.enemy_phrase{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    transition: all .6s linear;

    @media screen and (min-width:320px) {
        display: block;
}
    @media screen and (min-width:568px) {
        display: flex;
        align-items: flex-start;
    }

}

.enemy_text{
    
    border: 2px solid var(--text-color);
    border-radius: 50%;
    align-self: center;
    background-color: var(--light-bg);
    box-shadow: 3px 7px 8px var(--text-color);


    @media screen and (min-width:320px) {
        padding: 30px;
        text-align: justify;
}
    @media screen and (min-width:768px) {
        padding: 40px;
        width: 450px;
        border-bottom-right-radius: 0;
    }

    @media screen and (min-width:1200px) {
        width: 540px;
}
}

.enemy_speak{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

//// HERO PHRASE
.hero_phrase{
    display: flex;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    transition: all .6s linear;

    @media screen and (min-width:320px) {
        display: flex;
        flex-direction: column-reverse;
}
    @media screen and (min-width:568px) {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
}


.hero_text{
    
    border: 2px solid var(--text-color);
    border-radius: 50%;
    align-self: center;
    background-color: var(--light-bg);
    box-shadow: 3px 7px 8px var(--text-color);


     @media screen and (min-width:320px) {
        padding: 30px;
        
}
    @media screen and (min-width:768px) {
        padding: 40px;
        border-bottom-left-radius: 0;
    }

    @media screen and (min-width:1200px) {
        
}
}

//player BLOCK SECTOR

.gamers_block{
    margin-top: 40px;
    position: absolute;
   

    @media screen and (min-width:320px) {
        top: 10%;
        left: 50%;
        transform: translate(-50%,-10%);
}
@media screen and(orientation: landscape) {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-25%);
}
    @media screen and (min-width:568px) {
        display: flex;
        justify-content: center;
    }

    @media screen and (min-width:1200px) {
        display: flex;
        justify-content: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
}
}

.player{
    background-color: yellow;

    box-shadow: 0px 5px 8px var(--light-bg);

    @media screen and (min-width:320px) {
        padding: 5px;

        border:1px solid var(--text-color);
        border-radius: 16px;
    }
        @media screen and (min-width:768px) {
            padding: 15px;

    border:3px solid var(--text-color);
    border-radius: 16px;
        }
    
        @media screen and (min-width:1200px) {
            padding: 25px;

            border:5px solid var(--text-color);
            border-radius: 16px;
    }
}

.char_icon{
    animation-name: moving;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    display: block;
    margin-left: auto;
    margin-right: auto;

    

    @media screen and (min-width:320px) {
        width: 100px;
        height: 100px;
        padding: 5px;
    }
        @media screen and (min-width:768px) {
            width: 150px;
            height: 150px;
            padding: 14px;
        }
    
        @media screen and (min-width:1200px) {
            width: 200px;
            height: 200px;
            padding: 20px;
    }
}

.player_photo{
    border:2px solid var(--text-color);
    background-color: var(--gradient-color);
    margin-bottom: 10px;

    @media screen and (min-width:320px) {
        padding: 4px;
        border-radius: 16px;
    }
        @media screen and (min-width:768px) {
            padding: 7px; 
            border-radius: 8px;
        }
    
        @media screen and (min-width:1200px) {
            padding: 0px;
    }
}

@keyframes moving {
    0%{transform: scale(1.0);}
    50%{transform: scale(1.1);}
    75%{transform: scale(1.0);}
   
}

.round_list{
    display: flex;
    justify-content: center;
}

.round_item{
    @media screen and (min-width:320px) {
        margin-top: 4px; 
    }
        @media screen and (min-width:768px) {
            margin-top: 10px;
        }
}


.round_item+.round_item{
    @media screen and (min-width:320px) {
        margin-left: 5px; 
    }
        @media screen and (min-width:768px) {
            margin-left: 25px; 
        }
}

.hp, .hpb{
    animation-name: rotatic;
    animation-duration: 2s;
    animation-iteration-count: infinite;

    @media screen and (min-width:320px) {
        width: 12px;
    height: 12px;
    }
        @media screen and (min-width:768px) {
            width: 24px;
    height: 24px; 
        }
    
        @media screen and (min-width:1200px) {
            width: 34px;
    height: 34px;
    }
}

@keyframes rotatic {
    0%{transform: rotateY(0deg);}
    25%{transform: rotateY(90deg);}
    50%{transform: rotateY(180deg);}
    75%{transform: rotateY(270deg);}
    100%{transform: rotateY(360deg);}
}

//game controllers
.game_screen, .game_screen_Boss{

    align-self: center;
    @media screen and (min-width:320px) {
      
    }
    @media screen and (orientation: landscape){
        margin-left: 30px;
            margin-right: 30px;
    }
        @media screen and (min-width:768px) {
           
        }

        @media screen and (min-width:1200px) {
            margin-left: 100px;
            margin-right: 100px;
        
            width: 400px;
        }
}

.hp, .hpb{
    animation-name: rotatic;
    animation-duration: 2s;
    animation-iteration-count: infinite;

    @media screen and (min-width:320px) {
        width: 12px;
    height: 12px;
    }
        @media screen and (min-width:768px) {
            width: 24px;
    height: 24px; 
        }
    
        @media screen and (min-width:1200px) {
            width: 34px;
    height: 34px;
    }
}

.generating_num_list{
    display: flex;
    justify-content: center;

    @media screen and (min-width:320px) {
       margin: 20px auto;
    }
        @media screen and (min-width:768px) {
            margin: 40px auto;
        }
    
        @media screen and (min-width:1200px) {
            
    }
}

.generating_num_item{
    background-color: yellow;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    
    @media screen and (min-width:320px) {
        height: 44px;
        width: 44px; 
        padding: 25px;
        border: 2px solid var(--text-color);

        font-size: 14px;
font-weight: 600;
    }
        @media screen and (min-width:768px) {
            height: 60px;
            width: 60px; 
           
            border: 5px solid var(--text-color);

            font-size: 19px;
    font-weight: 700;
        }
    
        @media screen and (min-width:1200px) {
            height: 100px;
            width: 100px; 
    
            border: 5px solid var(--text-color);

            font-size: 24px;
    font-weight: 700;
    }
}

.generating_num_item+.generating_num_item{
    margin-left: 80px;
}

.backdrop_win, .backdrop_loose{
    position: fixed;
    z-index: 88;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: all .3s linear; 
    z-index: 999;
    background-color: var(--background-color);
}

.win_modal,.loose_modal{
    position: absolute;
		top: 50%;
		left: 50%;
        transform: translate(-50%,-50%);
        min-width: 320px;
        padding: 40px;

       background-image:url('.././images/wall.png');
       border-radius: 26px;
       box-shadow: 3px 3px 6px var(--text-color);

       transition: all .4s linear;

       @media screen and (max-width:479px) {
        padding: 30px;
        width: 94%;
        height: auto;
}
    @media screen and (min-width:480px) {
        padding: 40px;
        width: 450px;
    }

    @media screen and (min-width:768px) {
        width: 540px;
}
}


