:root {
  --text-color: rgb(14, 0, 0);
    --background-color: rgba(2, 2, 2, 0.84);
   --gradient-color: rgba(59, 76, 94, 0.438);
   --greet-window: rgba(209, 206, 12, .45);
   --box-shadow: rgba(10, 10, 10, 0.6);
   --hover-btn-color: rgb(241, 0, 0);
   --light-bg: rgb(197, 197, 197);
   --title-color: rgba(255,235,0,1);
  }